body {
	margin: 0px;
    padding: 0px;
    font: 400 14px/1.2em 'Source Sans Pro', sans-serif;
    background: #FFF;
    color: #555;
}
h2 {
	font: 400 21px/1 'Noto Serif', serif;
    color: #171920;
    margin: 45px 0px 0px;	
}
h3 {
	margin: 0px 0px 5px;
	font-size: 16px;
}
h4 {
	margin: 0px;
	font-size: 15px;
}
.hidden {
	display: none;   
}
.clear:after {
	content: "";
	visibility: hidden;
	clear: both;
	display: block;
	height: 0px;
}
.border-box {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.left {
	float: left;	
}
.right {
	float: right;	
}
input {
	display: inline-block;
    border: solid 1px #171920;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    width: 305px;
    height: 30px;
    padding: 0px 10px;
    margin: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.button:not(.hidden), select, input[type="submit"] {
	width: auto;
	height: auto;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	display: inline-block;
    font: 600 16px/1.2em 'Source Sans Pro', sans-serif;
	text-decoration: none;
    color: #FFF;
    background: #3599CD;
    padding: 11px 26px;
    border: 0px;
	-moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    cursor: pointer;
	-ms-transition: all .3s ease 0s;
	-moz-transition: all .3s ease 0s;
	-webkit-transition: all .3s ease 0s;
	transition: all .3s ease 0s;
}
.button:not(.hidden):hover, select:hover, input[type="submit"]:hover {
	background: #42b890;
}
.button.weekends.show:before,
.button.trm-projects.show:before {
	content: "Show ";	
}
.button.weekends.hide:before,
.button.trm-projects.hide:before {
	content: "Hide ";	
}
#filter-options,
.button.weekends,
.button.remove-filter,
.button.manage,
.button.settings,
.button.past-projects {
	margin-right: 10px;	
}
.button.pm-project-delete,
.button.edit-project,
.button.sm-holiday-delete {
	font-size: 13px;
	padding: 6px 8px;
}
.button.pm-project-delete,
.button.edit-project,
.button.pm-close-editor,
.button.pm-copy-details,
.button.pm-copy-trello-details,
.button.pm-save-project {
	margin-left: 10px;
}
#page {
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
	min-height: 100vh;
	position: relative;
	overflow: hidden;
}
.section-parent {
	position: relative;
	padding: 0px 20px;
	display: block;
	min-width: 0;
	width: 100%;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.section-parent.header {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 100;
	background: #181A21;
	color: #FFF;
}
.section-parent.header h1 {
	font: 600 22px/1 'Source Sans Pro', sans-serif;
    letter-spacing: -.25px;
    color: #FFF;
    margin: 0px;
}
.section-parent.header h1 span {
    font: 300 22px/1 'Source Sans Pro', sans-serif;
}
.section-parent.header p {
	margin: 0px;
}
.section-parent.header p span.first-name {
	text-transform: capitalize;
}
#melbourne-time {
	text-align: right;
	margin-top: 5px;
}
.section-parent.main {
	padding-top: 56px;
	-webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}
.section {
	padding: 10px 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.section.main {
	padding: 0px 0px 0px;
}
.section.footer {
    padding: 54px 0px 28px;
}
.section.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#header-toolbar {
	padding: 17px 0px;
	background: transparent;
	box-shadow: none;
}
.sticky-toolbar #header-toolbar-outer {
	height: 75px;   
}
.sticky-toolbar #header-toolbar {
	position: fixed;
	top: 56px;
	left: 0px;
	right: 0px;
	background: #FFF;
	padding: 0px;
	z-index: 50;
}
.sticky-toolbar #header-toolbar-inner {
	margin: 0px auto;
	padding: 17px 20px;
}
#header-toolbar-inner {
	display: flex;
	justify-content: space-between;
}
.header-toolbar {
	display: flex;
}
@media (max-width: 1360px) {
	#header-toolbar-inner {
		flex-direction: column;
	}
	.header-toolbar {
		width: 100%;
	}
	.header-toolbar.inner-right {
		padding-top: 10px;
	}
}
#content-outer {
	padding: 0px 0px 17px;
	background: #FFF;
	border-radius: 0px 0px 5px 5px;
	position: relative;
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
#content {
	overflow-x: scroll;
	position: relative;
	border-right: solid 1px #CCC;
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
#content.loading {
	min-height: 250px;
	min-width: 100%;
    background: url(/cms/lib/SW00000036/Centricity/domain/4/projects/version-2/img/loader.svg) no-repeat center center; 
	border-right: 0;
}
#content-inner {
	border-bottom: solid 1px #CCC;
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	-webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.calendar-sticky-header {
	position: relative;	
	background: #FFF;
	z-index: 2;
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	-webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.calendar-sticky-header.sticky-header {
	border-bottom: solid 1px #CCC;
}
#calendar-day-headers,
#calendar-date-headers {
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.calendar-cell {
	width: 85px;
	height: 24px;
	-webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
	padding: 5px;
	position: relative;
	line-height: 1;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-top: solid 1px #CCC;
	border-left: solid 1px #CCC;
}
.calendar-cell.panel-header {
	color: #555;
	font-weight: 400;
	background: #EFEFEF;
	white-space: nowrap;
}
.calendar-cell.panel-info {
	white-space: nowrap;
	overflow: hidden;	
}
.calendar-cell.panel-info a {
	color: #555;
	text-decoration: none;
}
.calendar-cell.panel-info a:hover {
	text-decoration: underline;
}
.calendar-cell.panel-empty {
	background: #EFEFEF;
}
#content .calendar-cell {
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	-webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
	-webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
#content .calendar-cell:first-child {
	border-left: 0;
}
.day {
	font-weight: bold;
	text-align: center;
	color: #555;
	background: #EFEFEF;
}
.date {
	color: #555;
	text-align: center;
	background: #EFEFEF;
}
.calendar-panel-row,
.calendar-record { 
	height: 24px;
	position: relative;
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.record {
	background: #3599CD;
}
.record.project {
	cursor: pointer;
	border-left: 0px;
}
.record.project[data-project-type="Maintenance Package - Template"],
.record.project[data-project-type="Maintenance Package - App"],
.record.project.qa-duration[data-project-type="Maintenance Package - Template"],
.record.project.deliver[data-project-type="Maintenance Package - Template"],
.record.project.qa-duration[data-project-type="Maintenance Package - App"],
.record.project.deliver[data-project-type="Maintenance Package - App"] {
	background: #898c94;
}
.record.project[data-project-type="Maintenance Package - Template"]:hover:before {
	content: "Template";
}
.record.project[data-project-type="Maintenance Package - App"]:hover:before {
	content: "App";
}
.record.project.start,
.calendar-cell.record.weekend + .record.project,
.calendar-cell.record.holiday + .record.project {
	border-left: solid 1px #CCC;
}
.record.tentative {
	background: #ffcc33;	
}
.record:before {
	color: #FFF;
    font-weight: 400;
    font-style: italic;
    font-size: 11px;
    line-height: 1;
    display: block;
    text-align: center;
}
.record.weekend {
	background: #EFEFEF;
}
.record.weekend:hover:before {
	content: "Weekend";
	color: #555;
}
.record.holiday {
	background: #b92f8f;
}
.record.holiday:hover:before {
	content: "Holiday";
}
.record.project.start:before {
    content: "Dev Start";
}
.record.project.end:before {
    content: "Dev End";
}
.record.project.start.end:before {
    content: "Develop";
}
.record.project.qa:before {
    content: "QA";
}
.record.project.qa-duration,
.record.project.deliver {
	background: rgba(53, 153, 205, .80);
}
.record.project.deliver:before {
    content: "Deliver";
}
.record.project.start.deliver:before {
    content: "Dev/Deliver";
}
.record.project.end.deliver:before {
    content: "End/Deliver";
}
.record.project.start.end.deliver:before {
    content: "Dev/Deliver";
}
.record.project.tentative:before {
    color: #555;
}
.record.project.tentative.qa-duration,
.record.project.tentative.deliver {
	background: rgba(255, 204, 51, .80);
}
.record.flex {
	text-align: center;
	color: #FFF;
	background: #f17e46;
}
.record.flex:hover:before {
	content: "PTO";	
}
.record.empty {
	background: none;
}
.set-month-range {
	margin: 7px 0px 0px 10px;	
}
#month-range {
	width: 30px;
	padding: 0px;
	text-align: center;
}
#calendar-record-info-panel {
	width: 350px;
	background: #FFF;
	border-right: solid 1px #CCC;
	border-bottom: solid 1px #CCC;
	-webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}
.resource-divider {
	border-top: solid 1px #CCC;
	border-left: solid 1px #CCC;	
}
#content .resource-divider {
	border-left: 0;
}
.width-100 {
	width: auto;	
}
.width-18 {
	width: 18%;	
}
.width-20 {
	width: 20%;	
}
.width-25 {
	width: 25%;	
}
.width-28 {
	width: 28%;	
}
.width-30 {
	width: 30%;	
}
.width-35 {
	width: 35%;	
}
.width-40 {
	width: 40%;	
}
.width-50 {
	width: 50%;
}
.width-54 {
	width: 54%;
}
.width-55 {
	width: 55%;
}
.width-60 {
	width: 60%;	
}
.no-float {
	float: none;	
}
.border-bottom {
	border-bottom: solid 1px #000;	
}
.tooltip {
	display: block;
	position: absolute;
	padding: 5px;
	border-radius: 2px;
	white-space: nowrap;
	background: rgba(138, 172, 181, .90);
	color: #000;	
	z-index: 1;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, .45);
}
.tooltip.top {
	top: 0px;	
}
.tooltip.bottom {
	bottom: 0px;	
}
.tooltip.right {
	right: 0px;	
}
.tooltip.left {
	left: 0px;	
}
.tooltip span {
	display: block;	
}
.greeting {
	float: right;
	margin: 18px 0px;
}
.overlay-bg {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	display: none;
	padding: 30px 30px 0px;
	background: rgba(70, 71, 81, .80);
	z-index: 200;
	overflow: auto;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.overlay-outer {
	max-width: 1065px;
    margin: 0px auto 30px;
    background: #FFF;
    -moz-box-shadow: 0px 0px 40px rgba(0, 0, 0, .40);
    -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, .40);
    box-shadow: 0px 0px 40px rgba(0, 0, 0, .40);
}
.overlay {
	background: #F6EFD9;
	min-height: 200px;
	border-radius: 5px;
	padding-bottom: 10px;	
}
.overlay-header {
	position: relative;
    background: #181a21;
}
.overlay-header h2 {
	font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 22px;
    letter-spacing: -.20px;
    color: #FFF;
    margin: 0px;
    padding: 23px 109px 23px 39px;
}
.overlay-header h2 span {
    font-weight: 300;
}
.overlay-close {
    width: 68px;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    background: #b9328f;
    border: 0px;
    padding: 0px;
    cursor: pointer;
}
.overlay-inner {
	padding: 20px 35px;
	background: #FFF;
	border-radius: 0px;
	position: relative;	
}
.overlay-outer.project-manager .overlay-inner {
	min-height: 850px;
}
.pm-record {
	padding: 5px 0px;
	border-bottom: dashed 1px #CCC;	
}
.pm-record:last-child {
	border: none;	
}
.pm-record span.left {
	padding: 7px 0px 0px;
	display: block;	
}
.pm-record-header.past h2 {
	position: relative;
	cursor: pointer;
}
.pm-record-header.past h2:after {
	content: "+";
	line-height: 1;
	font-size: 30px;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
	color: #3599CD;
	position: absolute;
	top: -4px;
	right: 0px;
	transition: all .4s ease 0s;
}
#pm-past-records.open .pm-record-header.past h2:after {
	transform: rotate(315deg);
}
#pm-quick-search {
	width: 200px;
	margin-left: 10px;
	position: relative;
    top: -1px;
    height: 41px;
}
.project-editor {
	overflow: hidden;
	background: #FFF;
	position: absolute;
	top: 0px;
	bottom: 100%;
	left: 0px;
	right: 0px;
	padding: 0px 35px;
	-ms-transition: bottom .5s linear 0s, padding .5s linear 0s;
	-moz-transition: bottom .5s linear 0s, padding .5s linear 0s;
	-webkit-transition: bottom .5s linear 0s, padding .5s linear 0s;
	transition: bottom .5s linear 0s, padding .5s linear 0s;
}
.open .project-editor {
	bottom: 0px;	
	padding: 20px 35px;
	overflow: scroll;
}
.pm-control {
	padding: 8px 0px;	
}
#light-box-outer {
	display: none;
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	padding: 0px 20px;
	background: rgba(0, 0, 0, .60);
	z-index: 500;	
	overflow: auto;
}
#light-box {
	max-width: 450px;
	margin: 100px auto;
	padding: 0px 20px;
	background: #FFF;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-moz-box-shadow: 0px 0px 40px rgba(0, 0, 0, .40);
	-webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, .40);
	box-shadow: 0px 0px 40px rgba(0, 0, 0, .40);
}
#light-box-content {
	padding: 0px 0px 30px;
	border-bottom: dashed 1px #DDE1EA;
}
#light-box-content h2 {
	float: left;
	margin-top: 45px;
}
#light-box-content p {
	clear: both;
}
.light-box-message {
	clear: both;	
	padding-top: 9px;
}
#light-box-confirm,
#light-box-cancel {
	margin: 18px 0px 48px;	
}
.light-box-input {
	display: block;
	margin-top: 10px;
}
.light-box-input label {
	display: block;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}
.light-box-input input[type="text"] {
	width: 180px;
	font-size: 12px;
	font-weight: normal;
	margin: 5px 7px 3px 0px;
    padding: 0px 5px;
    height: 25px;
	color: #757781;
	border: solid 1px #DDE1EA;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}
.light-box-input input.error {
	border: solid 1px #990000;
}
.loader-working {
	vertical-align: middle;
    position: relative;
    top: -2px;
    margin-left: 10px;
}
#notify {
	display: none;
	position: fixed;
	bottom: 20px;
	left: 20px;
	border: solid 2px #FFF;
	background: rgba(0, 0, 0, .85);
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #FFF;
	font-weight: normal;
	font-size: 18px;
	z-index: 99999;
	padding: 15px 20px;
}
.pm-input.error {
	color: #990000;	
}
.pm-error, .cal-error {
	color: #990000;
	padding-left: 10px;	
}
.pm-exempt {
	font-style: italic;
	color: #990000;	
	font-size: 12px;
}
.pm-additional-info {
	color: #888;	
	font-size: 12px;
}
.settings-editor h4 span {
	color: #888;	
	font-size: 12px;
	font-style: italic;
	font-weight: normal;
}
.sm-holiday {
	padding: 5px 0px;
    border-bottom: dashed 1px #CCC;	
}
.sm-holiday p {
	margin: 0px;	
}
.sm-holiday input {
    width: 150px;
}
#sm-add-holiday {
	margin-top: 15px;
}
.button.sm-save-settings {
	margin-top: 20px;
	clear: both;	
}
#past-projects-tabs {
	margin-bottom: -1px;
}
#past-projects-tabs ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
#past-projects-tabs ul li {
	padding: 10px 15px;
	border-top: solid 1px #CCC;
	border-right: solid 1px #CCC;
	border-bottom: solid 1px #CCC;
	cursor: pointer;
}
#past-projects-tabs ul li:first-child {
	border-left: solid 1px #CCC;
}
#past-projects-tabs ul li.active {
	border-bottom: solid 1px #FFF;
}
#past-projects-panels {
	min-height: 300px;
	border: solid 1px #CCC;
	padding: 20px;
}
#past-projects-panels a {
	text-decoration: none;
	color: #3496ca;
}
#past-projects-panels ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
#past-projects-panels table {
	width: 100%;
	border-collapse: collapse;
}
#past-projects-panels th,
#past-projects-panels td {
	border-bottom: solid 1px #CCC;
	vertical-align: top;
	padding: 5px;
}
#past-projects-panels table tr th:nth-child(1),
#past-projects-panels table tr td:nth-child(1) {
	width: 30%;
}
#past-projects-panels table tr th:nth-child(2),
#past-projects-panels table tr td:nth-child(2) {
	width: 15%;
}
#past-projects-panels table tr th:nth-child(3),
#past-projects-panels table tr td:nth-child(3) {
	width: 15%;
}
#past-projects-panels table tr th:nth-child(4),
#past-projects-panels table tr td:nth-child(4) {
	width: 15%;
} 
#past-projects-panels table tr th:nth-child(5),
#past-projects-panels table tr td:nth-child(5) {
	width: 15%;
}
#past-projects-panels table tr th:nth-child(6),
#past-projects-panels table tr td:nth-child(6) {
	width: 10%;
}
#past-projects-panels .project-panel {
	display: none;
}
#past-projects-panels .project-panel.active {
	display: block;
}
footer {
	background: #171920;
	position: relative;
}
footer:before {
    content: "";
    height: 1px;
    display: block;
    position: absolute;
    top: 30px;
    left: 0px;
    right: 0px;
    background: #bb3292;
    background: -moz-linear-gradient(left, #bb3292 0%, #ed1f69 16%, #f47e45 33%, #fece0c 49%, #c3d42e 65%, #43bb93 82%, #3599cd 100%);
    background: -webkit-linear-gradient(left, #bb3292 0%,#ed1f69 16%,#f47e45 33%,#fece0c 49%,#c3d42e 65%,#43bb93 82%,#3599cd 100%);
    background: linear-gradient(to right, #bb3292 0%,#ed1f69 16%,#f47e45 33%,#fece0c 49%,#c3d42e 65%,#43bb93 82%,#3599cd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bb3292', endColorstr='#3599cd',GradientType=1 );
}